<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container {
          width: auto;
          max-width: 680px;
          padding: 0 15px;
        }
        .footer {
          background-color: #f5f5f5;
        }
        img {
            max-width: 100%;
        }
    </style>
    <title>Canny Edge Detection</title>
</head>
  <body class="d-flex flex-column h-100">
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Canny Edge Detection</h1>
        {% if images %}
            <p>Для повторной загрузки изображения нажмите <a href="/">сюда</a></p>
            {% for image in images %}
                <img src="{{ image }}"/>
                <br>
                <br>
            {% endfor %}
        {% else %}
        <p class="lead">Выберите изображения для детектирования границ изображения с помощью алгоритма Кэнни</p>
            <br>
            <form method="post" enctype="multipart/form-data">
                {{ form }}
                <input type="submit" value="Отправить">
            </form>
        {% endif %}
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Артём Морозов, ВМ-18з, artembo@me.com</span>
      </div>
    </footer>

</body>
</html>